@charset "utf-8";

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Calibri';
}

body {
    background-image: linear-gradient(135deg,rgb(174,167,159),#e8e8e8,rgb(174,167,159));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
       
    color: #fff;
    
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
     /*Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;   
}

header {
    background-color: #000;
    height: 61px;
}

.logo {
    height: 100%;
    padding: 5px;
    box-sizing: border-box;    
}

/*  User Menu Style */

.user {
    height: 100%;
    background-color: #222;
    float: right;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
}

#userImg {
    height: 40px;
}

.icoCol {
    width: 1px;
    position: relative;
    top: 2px;
}

#userName {
    font-size: 20px;
    position: relative;
    top: 2px;
}

#sessionName {
    font-size: 15px;
    color: #ddd;
    position: relative;
    top: -4px;
}




/*  Devices Styles  */

.device {
    margin: 10px 5px 0px 5px;
    width: calc(100% - 10px);
    text-shadow: 0px 0px 2px #000;
}

.mainDev {
    height: 80px;    
    background-color: #555;
}

.devUp {
    height: 60px;
    background-color: #aaa;
    border-top: 0px solid #fff;
    
    background-image: linear-gradient(#ffafff, #f0f);

    background-size: 30% 100%;
    background-repeat: no-repeat;
}

.devDown {
    height: 60px;
    background-color: #777;
    border-top: 0px solid #fff;
    background-image: linear-gradient(#004000, #0f0);
    

    background-size: 67% 100%;
    background-repeat: no-repeat;
}

.devIco {
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    float: left;
}

.upIco {
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    float: right;
}

.downCanIco {
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    float: right;
    padding-right: 15px;
}

.mainDevTable {
    border: 0px solid blue;
    padding-top: 15px;
}

.devName {
    font-size: 17px;
}

.devOrigin {
    font-size: 12px;
}

.upDownTable {
    border: 0px solid blue;
    height: 100%;
/*    width: calc(100% - 120px);*/
}

.upDownData {
    border: 0px solid blue;
    
}

.teste {
    float: right;
    line-height: 55px;
    margin-right: 20px;
    
}

